*{
    box-sizing: border-box;
}


header{
    text-align: center;
}

#log{
    border: solid;
    border-radius: 10%;
    
}
body{
 background-color: rgb(3, 27, 21);
 color:white;
 font-family: sans-serif;
}

main{
    background-color:rgb(22,209,207);
    padding: 100px;
    color:rgb(73, 28, 117);
    margin-top: 26px;
    margin-bottom:  36px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color:rgb(0, 0, 0);
    
}

footer{
    background-color: #91c11d;
    padding: 50px;
    color: blue;
    
}


